.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;      
  }
  
  .spinner-border {
    width: 50%;  
    height: 50%;
    border-width: 0.2em;
    animation: spin 1s linear infinite; 
  }

  .loading-text {
    margin-top: 0.5rem;
    font-size: 1rem;
    text-align: center;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  