<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">Oops! </h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Looks like something is wrong.
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <button type="submit" (click)="navigateToHome()"
                class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill">
                Back to Home
            </button>
        </div>
    </div>
</div>