/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
.chart-title {
    text-align: start;
    font-size: 18px;
    margin-bottom: 10px;
}